<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">SPYC Library</h5>
                <ul>
                    <li>
                        <router-link class="grey-text text-lighten-3" :to="{name: 'aim'}">Introduction</router-link>
                    </li>

                    <li>
                        <router-link class="grey-text text-lighten-3" :to="{name: 'books'}">Book Recommend</router-link>
                    </li>
                </ul>
            </div>

            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a href="https://www2.pyc.edu.hk/" class="grey-text text-lighten-3" target="_blank">SPYC</a></li>
                    <li><a href="https://school.pyc.edu.hk/" class="grey-text text-lighten-3">PYC Net</a></li>
                    <li><a href="http://aero.pyc.edu.hk/~chin/reader/index.html" class="grey-text text-lighten-3" target="_blank">小讀者園地</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                <img alt="Creative Commons Licence" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
            </a>
            This work is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" class="text-lighten-3 grey-text">
                Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
            </a>.
        </div>
    </div>
</footer>